#nav1
{
    background: linear-gradient(135deg, #1a0538, #3e0b6e, #7b1bff);
    padding: 10px 0;
}

#logo
{
    height: 50px; 
    width: auto; 
    margin-right: 10px;
    color: #FFFFFF;
}

.nav-link
{
    color: #FFFFFF !important;
}

#header1
{
    background: linear-gradient(135deg, #1a0538, #3e0b6e, #7b1bff);
    text-align: center;
    color: white;
}

.customer-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.customer-image
{
    display: flex;
    width: 400px;
    max-width: 100%;
}

.customer-form
{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 550px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.customer-form label 
{
    display: block !important;
    margin-top: 15px;
    font-weight: bold;
}

.customer-form input
{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.button-class
{
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 20px;
}

.customer-button
{
    flex: 1 1 48%;
    background-color: #7b1bff;
    border-radius: 12px;
    height: 60px;
}

#customerList 
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.customer_card 
{
  background: white;
  padding: 16px;
  border-radius: 10px solid black !important;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}


.footer
{
    background: linear-gradient(135deg, #1A0B2E, #8A2BE2);
    color:white;
    padding: 40px 0 20px;
    margin-top: 50px;
}

.footer-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-section
{
    width: 250px;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section ul li a
{
    color: #C9A7FF;
}

.footer-bottom 
{
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #00CED1;
  padding-top: 10px;
  color: #FFFFFF;
}
